/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Change background color to grey */
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100vh; /* Set height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  